body {
  background-color: #EAF6F6;
}
h1{
  color: #16a596;
}
h3{
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #66BFBF;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
img {
  width: 165px ;
  height: 165px;
}
